.wrapper{
    background: url("../images/paris.jpg") no-repeat center center fixed;
    background-size: cover;
}
#welcome-text{
    text-align: center;
    font-size: 22px;
}
ul{
    text-decoration: none;
    list-style: none;
}
.articles, .short-article{
    list-style: none;
    margin-left: 5%;
}
.single-post{
    margin-bottom: 5%;
}
.dot{
    margin-top: 13px;
    margin-right: 10px;
    float: left;
    width: 20px;
    border-radius: 40px;
    background-color: olive;
}
.artTitle{
    font: 32px "Lucida Handwriting", cursive;
    font-weight: 600;
}
.artSubtitle {
    font: 14px "Brush Script Std", cursive;
    font-weight: 100;
    margin-left: 3%;
}
.artContent{
    padding-top: 2.5%;
    font: 16px "Lucida Calligraphy", cursive;
    font-weight: 500;
    width: 80%;
    margin-left: 3%;
    word-break: normal;
}

.artDestination {
    font: 16px "Brush Script Std", cursive;
    font-weight: 200;
    margin-left: 3%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
}
footer{
    width: 100%;
    font-family: "Lucida Bright", serif;
    font-size: 12px;
    position: relative;
    bottom: 0;
    text-align: center;
    clear: both;
>>>>>>> origin/master
>>>>>>> origin/master
}

